.sidebar {
  background-color: white;
  position: absolute;
  right: 50px;
  top: 220px;
  min-width: 354px;
  max-width: 380px;
  height: auto;
}

/*First wrapper*/

.first-wrapper {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 10px rgba(200, 200, 200, .5);
}

.first-wrapper-title {
  font-size: 18px;
  font-weight: 600;
  border-bottom: 3px solid rgb(0, 183, 255);
  padding-bottom: 4px;
}

.kouryu-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  min-width: 63px;
  min-height: 63px;
  padding-top: 10px;
}

a {
  text-decoration: none;
}

.kouryu-social-media div {
  margin: 2px 6px;
  padding: 10px;
  min-width: 30px;
  min-height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 31px;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.facebook {
  cursor: pointer;
  border: 1px solid #0866ff;
  color: #0866ff;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.youtube {
  cursor: pointer;
  border: 1px solid #ff0000;
  color: #ff0000;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.twitterx {
  cursor: pointer;
  border: 1px solid #000000;
  color: #000000;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.github {
  cursor: pointer;
  border: 1px solid #0d1117;
  color: #0d1117;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.facebook:hover {
  background-color: #0866ff;
  color: white;
  transform: scale(1.2);
}

.youtube:hover {
  background-color: #ff0000;
  color: white;
  transform: scale(1.2);
}

.twitterx:hover {
  background-color: #000000;
  color: white;
  transform: scale(1.2);
}

.github:hover {
  background-color: #0d1117;
  color: white;
  transform: scale(1.2);
}

.facebook:active {
  background-color: #0866ff;
  color: white;
  transform: scale(1.0);
}

.youtube:active {
  background-color: #ff0000;
  color: white;
  transform: scale(1.0);
}

.twitterx:active {
  background-color: #000000;
  color: white;
  transform: scale(1.0);
}

.github:active {
  background-color: #0d1117;
  color: white;
  transform: scale(1.0);
}

/*First wrapper (End)*/

/*Second wrapper*/

.second-wrapper {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 10px rgba(200, 200, 200, .5);
}

.second-wrapper-title {
  font-size: 18px;
  font-weight: 600;
  border-bottom: 3px solid rgb(0, 183, 255);
  padding-bottom: 4px;
}

/*First-content*/

.first-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  transition: transform 0.3s;
}

.first-content:hover {
  transform: scale(1.04);
}

.first-content:active {
  transform: scale(1);
}

.first-content_pic img {
  width: 120px;
  height: 80px;
  border-radius: 4px;
  margin-right: 6px;
  cursor: pointer;
}

.first-content_title {
  width: 200px;
  cursor: pointer;
}

.first-content_title:hover {
  color: rgb(0, 183, 255);
}

.first-content_date {
  margin-top: 6px;
  font-size: 12px;
  color: rgb(161, 161, 161);
}

/*First-content (End)*/

/*Second-content*/

.second-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  transition: transform 0.3s;
}

.second-content:hover {
  transform: scale(1.04);
}

.second-content:active {
  transform: scale(1);
}

.second-content_pic img {
  width: 120px;
  height: 80px;
  border-radius: 4px;
  margin-right: 6px;
  cursor: pointer;
}

.second-content_title {
  width: 200px;
  cursor: pointer;
}

.second-content_title:hover {
  color: rgb(0, 183, 255);
}

.second-content_date {
  margin-top: 6px;
  font-size: 12px;
  color: rgb(161, 161, 161);
}

/*Second-content (End)*/


/*Second wrapper (End)*/

/*Third wrapper*/

.third-wrapper {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 10px rgba(200, 200, 200, .5);
}

.third-wrapper-title {
  font-size: 18px;
  font-weight: 600;
  border-bottom: 3px solid rgb(0, 183, 255);
  padding-bottom: 4px;
}

.contact-box {
  padding: 10px 0;
}

.contact-box input {
  margin: 4px 0;
  width: 290px;
  padding: 5px 10px;
  padding-left: 30px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid gray;
  background-color: rgba(0, 0, 0, .1);
  outline: none;
  border: 1px solid transparent;
  transition: background-color 0.3s, outline-color 0.3s, border-bottom 0.1s, width 0.3s;
}

.contact-box input:hover {
  background-color: white;
  border: 1px solid rgb(0, 183, 255);
}

.contact-box input:focus {
  background-color: white;
  border: 1px solid rgb(0, 183, 255);
}

.name-input {
  position: relative;
}

.fa-user {
  position: absolute;
  top: 12px;
  left: 10px;
}

.email-input {
  position: relative;
}

.fa-envelope {
  position: absolute;
  top: 12px;
  left: 10px;
}

.contact-box textarea {
  resize: none;
  margin: 4px 0;
  height: 200px;
  width: 300px;
  padding: 6px 2px 2px 30px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid gray;
  background-color: rgba(0, 0, 0, .1);
  outline: none;
  border: 1px solid transparent;
  transition: background-color 0.3s, outline-color 0.3s, border-bottom 0.1s, width 0.3s;
}

.contact-box textarea:hover {
  background-color: white;
  border: 1px solid rgb(0, 183, 255);
}

.contact-box textarea:focus {
  background-color: white;
  border: 1px solid rgb(0, 183, 255);
}

.message div {
  position: relative;
}

.fa-message {
  position: absolute;
  top: 14px;
  left: 10px;
}

.send-btn button {
  width: 334px;
  height: 40px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 183, 255);
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.send-btn button:hover {
  border: 1px solid rgb(0, 183, 255);
  color: rgb(0, 183, 255);
  background-color: white;
}

.send-btn button:active {
  border: 1px solid transparent;
  color: white;
  background-color: rgb(0, 183, 255);
}

/*Third wrapper (End)*/

/*Fourth wrapper*/

.fourth-wrapper {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 10px rgba(200, 200, 200, .5);
}

.fourth-wrapper-title {
  font-size: 18px;
  font-weight: 600;
  border-bottom: 3px solid rgb(0, 183, 255);
  padding-bottom: 4px;
}

.sidebar .Ad-2 {
  background-color: rgb(214, 214, 214);
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 4px;
  padding: 5px 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
  transition: background-color 0.3s;
  cursor: pointer;
}

.Ad-2 p {
  margin-left: 20px;
  cursor: pointer;
  color: rgb(121, 121, 121);
  transition: color 0.3s;
}

.Ad-2:hover {
  color: rgb(0, 0, 0);
}

.Ad-2:hover {
  background-color: rgb(238, 238, 238);
}

/*Fourth wrapper (End)*/